<div class="m-3">

  <div class="d-flex justify-content-between titleExp">
    <p>Exemples de condition ternaire</p>
    <fa-icon *ngIf="!dispNon" [icon]="['fas', 'angle-up']" (click)="displayExpFor()"></fa-icon>
    <fa-icon *ngIf="dispNon" [icon]="['fas', 'angle-down']" (click)="displayExpFor()"></fa-icon>
  </div>

  <div id="expIfTernaire">
    <div>
      <pre>
        (<span class="maVar">maVar</span> == 10) <span class="method">?</span> console.log("maVar est égale a 10") : console.log("maVar n'est pas égale a 10")
      </pre>
    </div>
  </div>
</div>
