<div class="m-3">
  <div>
    <p>Exemples de Number</p>
    <pre>
      <span class="maVar">maVar</span> = "42"
      <span class="maVar">sortie </span> = <span class="method">Number(</span><span class="maVar">maVar</span ><span class="method">)</span>
      console.log(typeof<span class="maVar"> sortie </span>)
      <span class="outPut">// outPut -> "number"</span>
    </pre>
  </div>

  <div class="separation"></div>

  <div class="mt-3">
    <h6>try it !!</h6>
    <div class="try">
      <input
        class="input"
        placeholder="Votre string !"
        #changeType
        (keyup)="tryNumber(changeType.value)"
      >


      <div *ngIf="toType" class="m-2">
      <p class="output"> Voici le résultat : {{toNumber}} | type : {{toType}}</p>
      </div>

      <div *ngIf="!toType" class="m-2">
      <p> Esayer par vous même ...</p>
      </div>
    </div>
  </div>
</div>
