<p>bar-nav-langage works!</p>
<div *ngFor="let langage of langages">
  {{langage.name}}
  <!-- <fa-icon  [icone] =  {{langage.logo}}  ></fa-icon> -->
  <!-- <i class="fa-brands fa-html5"></i>
  <i class="fab fa-css3-alt"></i>
  <i class="fa-brands fa-angular"></i> -->
  <!-- <fa-icon [icon]="['fa', 'Html']"></fa-icon> -->
  <!-- <fa-icon [icon]="['far', 'film']"></fa-icon> -->
</div>
<!-- <fa-icon [icon]="['fab', 'angular']"></fa-icon> -->
<!-- <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
<fa-icon [icon]="['fab', 'facebook']"></fa-icon>  -->
<fa-icon [icon]="['fas', 'star']"></fa-icon>
