.langage-cards{
  background-color: rgb(32 33 36);
  height: 105vh;
}

.langage-card {
  color: white;
}

.langage-card:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background-color: rgb(44, 46, 50);
  cursor: pointer;
}

.ligne {
  color: white;
  margin-left: 70px;
}

.degrad {
  height: 70px;
  background: linear-gradient(#1976d2, rgb(32 33 36));
}

p {
  color: aliceblue;
}

.titleAncres {
  background-color: rgb(32 33 36);
  margin-left: 10px;
  font-size: small;
  font-weight: 100;
}

.titleA:hover {
  font-style: oblique;
}

.backTitlesA {
  width: 50px !important;
  background: linear-gradient(rgb(45, 45, 45), rgb(32 33 36));
  border-top-right-radius: 50%;
}

.block {
  display: block;
}
