
<div class="d-flex pos">

  <div class="fenP">
    <div *ngFor="let titre of titres">
      <div [id]=" titre.ancre ">
         <!-- j'affiche une barre de séparation SAUF pour la première section qui est celle des variables -->
        <hr *ngIf="titre.titre != 'Déclaration de variables'" class="sepa">
        <h6 class="mt-3 mb-4">{{ titre.titre }}</h6>
        <div *ngFor="let content of contents">
          <div *ngIf="content.titre === titre.titre">
            <p class="ms-3"> {{ content.chapitre }}</p>
            <pre class="ms-5 ps-2"> {{ content.content }}</pre>
          </div>
        </div>
      </div>

    </div>

    <table>
      <p> Variable </p>
        <!-- <div *ngFor="let method of methods">
          <div *ngIf="method.categorie == 'Variable'" (click)="displayExplain(method.name)">
              <tr>
                <td class="ps-3 colCode"><pre>{{ method?.code }}</pre></td>
                <td class="ps-3"><em>{{ method?.explain }}</em></td>
              </tr>
          </div>
        </div> -->

      <p class="mt-4"> Array </p>
        <!-- <div *ngFor="let method of methods">
          <div *ngIf="method.categorie == 'Array'" (click)="displayExplain(method.name)">
              <tr>
                <td class="ps-3 colCode"><pre>{{ method?.code }}</pre></td>
                <td class="ps-3"><em>{{ method?.explain }}</em></td>
              </tr>
          </div>
        </div> -->
    </table>

  </div>


  <div class="fenE">
    <div class="mb-2">
      <h2 class="text-center"> exemples </h2>

      <!-- <div *ngIf="!displayMethod">
        <p> des exemple ici !!!</p>
      </div> -->

    </div>
  </div>

</div>
