
<div class="d-flex pos">

  <div class="fenP">



  </div>


  <div class="fenE">
    <div class="mb-2">
      <h2 class="text-center"> exemples</h2>
      <figure role="img" aria-labelledby="legende-vache">
        <pre>
        _____________
      < Oh la vache !>
        -------------
              \   ^__^
                \  (oo)\_______
                  (__)\       )\/\
                      ||----w |
                      ||     ||
        </pre>
        <figcaption id="legende-vache">
          Une vache qui dit « Oh la vache ! ». La vache est illustrée avec du texte à chasse fixe.
        </figcaption>
      </figure>
    </div>
  </div>

</div>
