
<div class="d-flex pos">

  <div class="fenP">
    <div *ngFor="let titre of titres">

      <div [id]=" titre.ancre ">
        <hr *ngIf="titre.titre != 'Variable'" class="sepa">
        <h6 class="mt-3 mb-4">{{ titre.titre }}</h6>
        <div *ngFor="let content of contents">
          <div *ngIf="content.titre === titre.titre">
            <p class="ms-3"> {{ content.chapitre }}</p>
            <pre class="ms-5 ps-2"> {{ content.content }}</pre>
          </div>
        </div>
      </div>

    </div>


    <table>
      <p> Variable </p>
        <div *ngFor="let method of methods">
          <div *ngIf="method.categorie == 'Variable'">
              <tr>
                <td class="ps-3 colCode"><pre>{{ method?.code }}</pre></td>
                <td class="ps-3"><em>{{ method?.explain }}</em></td>
              </tr>
          </div>
        </div>

      <p class="mt-4"> Array </p>
        <div *ngFor="let method of methods">
          <div *ngIf="method.categorie == 'Array'">
              <tr>
                <td class="ps-3 colCode"><pre>{{ method?.code }}</pre></td>
                <td class="ps-3"><em>{{ method?.explain }}</em></td>
              </tr>
          </div>
        </div>
    </table>

  </div>


  <div class="fenE">
    <div class="mb-2">
      <h2 class="text-center"> exemples</h2>
      <figure role="img" aria-labelledby="legende-vache">
        <pre>
        _____________
      < Oh la vache !>
        -------------
              \   ^__^
                \  (oo)\_______
                  (__)\       )\/\
                      ||----w |
                      ||     ||
        </pre>
        <figcaption id="legende-vache">
          Une vache qui dit « Oh la vache ! ». La vache est illustrée avec du texte à chasse fixe.
        </figcaption>
      </figure>
    </div>
  </div>

</div>
