<div class="m-3">

  <div class="d-flex justify-content-between titleExp">
    <p>Exemples de condition</p>
    <fa-icon *ngIf="!dispNon" [icon]="['fas', 'angle-up']" (click)="displayExpFor()"></fa-icon>
    <fa-icon *ngIf="dispNon" [icon]="['fas', 'angle-down']" (click)="displayExpFor()"></fa-icon>
  </div>

  <div id="expFor">
    <div>
      <pre>
        public class <span class="method">Boucles</span> {{'{'}}
          public static void <span class="method">main</span> (String[] args) {{'{'}}
          <span class="method">for</span> ( int i = 0; i &lt; 15 ; {{'i++'}}) {{'{'}}
                {{'System.out.println(i);' }}
            {{'}'}}
          {{'}'}}
        {{'}'}}
      </pre>
    </div>
  </div>
</div>
