<div>
  <div>
    ceci est l'exemple des ToUpperCase
    <pre>
      <span class="maVar">maVar</span> = "je suis un début de paragraphe"
      <span class="maVAr">sortie </span> = <span class="maVAr">maVar</span ><span class="Method">.toUpperCase()</span>
      console.log(<span class="mavar"> sortie </span>)
      <span class="outPut">// outPut -> JE SUIS UN DEBUT DE PARAGRAPHE</span>
    </pre>
  </div>

  <div>
    <h6>try it !!</h6>
    <div>
      <input
        type="text"
        placeholder="transformation to Uppercase"
        #transf
        (keyup)="userTryUp(transf.value)"
      >
      <div *ngIf="transfUp">
      <p class="output"> Voici le résultat : {{transfUp}}</p>
      </div>

      <div *ngIf="!transfUp">
      <p class ="com"> Esayer par vous même ...</p>
      </div>
    </div>
  </div>
</div>

<div class="triche"></div>

<div>
  <div>
    ceci est l'exemple des ToLowerCase
    <pre>
      <span class="maVar">maVar</span> = "je SUIS minuscule"
      <span class="maVAr">sortie </span> = <span class="maVAr">maVar</span ><span class="Method">.toLowerCase()</span>
      console.log(<span class="mavar"> sortie </span>)
      <span class="outPut">// outPut -> je suis minuscule</span>
    </pre>
  </div>

  <div>
    <h6>try it !!</h6>
    <input
      type="text"
      placeholder="transformation to lowercase"
      #transfLower
      (keyup)="userTryMin(transfLower.value)"
    >
    <div *ngIf="transfMin">
    <p class="output"> Voici le résultat : {{transfMin}}</p>
    </div>

    <div *ngIf="!transfMin">
    <p class ="com"> Esayer par vous même ...</p>
    </div>
  </div>
</div>
