/* You can add global styles to this file, and also import other style files */
html::-webkit-scrollbar{
	width: 10px;
	background-color: #162246;
	border: 1px solid black;
}

a {
  text-decoration: inherit !important;
}

body {
  background-color: rgb(32, 33, 36) !important;
  height: 100%;
}


.navBarL {
  position: fixed;
  overflow-y: scroll;
  top: 60px;
  left: 0;
  width: 200px;
  height: 100%;
  background-color:  rgb(32 33 36);
  &::-webkit-scrollbar{
    width: 10px;
    background-color: #162246;
    border: 1px solid black;
  }
}

.pos{
  // position: relative;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100%;
  margin-top: 65px;
  margin-left: 205px;
  justify-content: flex-start;
  align-items: flex-start;
}

.fenP {
  // position: absolute;
  // top: 65px;
  // left: 205px;
  // height: 90%;;
  color: grey;
  background-color: black;
  padding-left: 10px;
  // overflow: scroll;
}

// .fenP:hover {
//   overflow: scroll;
// }

// .fenP::-webkit-scrollbar{
// 	width: 5px;
// 	background-color: #202124;
// 	border: 1px solid black;
// }

.fenE {
  // position: absolute;
  // right: 0;
  color: grey;
  background-color: black;
  margin-left: 5px;
  padding: 10px;
  // flex-grow: 2;
}
