/* You can add global styles to this file, and also import other style files */

.navBarL {
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  height: 100%;
  background-color:  rgb(32 33 36);
}

.pos{
  margin-top: 60px;
  margin-left: 230px;
}
