
<div class="d-flex pos">
  <div class="fenP">

    <h2 class="text-center">HTML</h2>

    <div id="baseHtml">
      <h6> page de base en HTML</h6>
      <div>
        <pre>
          <code>
            &lt;!DOCTYPE html&gt;
            &lt;html&gt;

              &lt;head&gt;
                &lt;meta charset="utf-8"&gt;
                &lt;title&gt; Votre page Web &lt;/title&gt;
              &lt;/head&gt;

              &lt;body&gt;
                &lt;!-- le corp de votre page --&gt;
              &lt;/body&gt;

            &lt;/html&gt;
          </code>
        </pre>
      </div>
    </div>

    <div id="sectionsHtml">
      <h6>Différentes sections</h6>
      <div>
        <p class="ms-2" class="ms-2">le Head</p>
          <pre>
            &lt;header&gt; La bannière de la page &lt;/header&gt;
          </pre>
        <p class="ms-2">le Body</p>
          <pre>
            &lt;main&gt; Le corp de votre page &lt;/main&gt;
          </pre>
        <p class="ms-2">le Footer</p>
          <pre>
            &lt;footer&gt; Le pied de page &lt;/footer&gt;
          </pre>
        </div>
      </div>

      <div id="modifPoliceCasse">
        <h6>balises de mise en page</h6>

        <div>
          <p class="ms-2">les titres</p>
            <pre>
              &lt;h1&gt; gros titre &lt;/h1&gt;
              &lt;h2&gt; un poil plus petit &lt;/h2&gt;
              &lt;h3&gt; encore plus petit &lt;/h3&gt;
              &lt;h4&gt; toujours plus petit &lt;/h4&gt;
              &lt;h5&gt; vous avez compris &lt;/h5&gt;
              &lt;h6&gt; le délire &lt;/h6&gt;
            </pre>
        </div>

        <div>
          <p class="ms-2">Police de base</p>
            <pre>
              &lt;p&gt; ceci est un paragraphe &lt;/p&gt;
              &lt;em&gt; <em> mettre en italique </em> &lt;/em&gt;
              &lt;i&gt; pour les icones &lt;/i&gt;
              &lt;strong&gt; <strong>ceci est en gras</strong> &lt;/strong&gt;
              &lt;span&gt; pour isoler du texte (css particulier ou le mettre en valeur) &lt;/span&gt;
              &lt;br&gt; sauter une ligne
              &lt;hr&gt; créer une ligne de séparation
            </pre>
        </div>
      </div>

    <div id="liste">
      <h6>liste</h6>
      <div>
        <p class="ms-2">créer des listes</p>
          <pre>
            &lt;ul&gt;
              &lt;li&gt; objet 1 d'une liste a points &lt;/li&gt;
              &lt;li&gt; objet 2 d'une liste a points &lt;/li&gt;
              &lt;li&gt; objet 3 d'une liste a points &lt;/li&gt;
            &lt;/ul&gt;

            &lt;ul&gt;
              &lt;ol&gt; objet 1 d'une liste a chiffres &lt;/ol&gt;
              &lt;ol&gt; objet 2 d'une liste a chiffres &lt;/ol&gt;
              &lt;ol&gt; objet 3 d'une liste a chiffres &lt;/ol&gt;
            &lt;/ul&gt;
          </pre>
      </div>
    </div>

    <div id="lienHtml">
      <h6> Créé un lien interne </h6>
      <div>
        <div>
          <pre>
            &lt;p id="le lien"&gt; Le lien vous mènera ici !! &lt;/p&gt;
            &lt;a href="#le lien"&gt; Le bouton du lien intérne &lt;/a&gt;
          </pre>
        </div>
        <p class="ms-2">lien dans le dossier actuel ou antécédent de votre HTML</p>
          <pre>
            &lt;a href="./dossierOUfichier.ext"&gt; vous êtes dans votre dossier &lt;/a&gt;
            &lt;a href="../dossierOUfichier.ext"&gt; vous êtes dans le dossier antécédent &lt;/a&gt;
          </pre>
        <p class="ms-2">lien externe</p>
          <pre>
            &lt;a href="lien du site externe"&gt; dirigez vous vers un autre site &lt;/a&gt;
          </pre>
        <p class="ms-2">ouvrir le lien dans un nouvel onglet</p>
          <pre>
            &lt;a href="le lien" target="_blank"&gt; (target="_blank") fait la dif! &lt;/a&gt;
          </pre>
      </div>
    </div>

    <div id="dropdownListHtml">
      <h6>Dropdown list</h6>
      <div>

        <form>
          <label for="test"> Liste de sélection </label>
          <select id="test" name="quoi?">
            <option value="manger"> Manger </option>
            <option value="dormir"> Dormir </option>
            <option value="jouer"> Jouer </option>
          </select>
        </form>

        <div>
          <pre class="mt-2">
            &lt;form&gt;
              &lt;label for="test"&gt; Liste de sélection &lt;/label&gt;
              &lt;select id="test" name="quoi?"&gt;
                &lt;option value="manger"&gt; Manger &lt;/option&gt;
                &lt;option value="dormir"&gt; Dormir &lt;/option&gt;
                &lt;option value="jouer"&gt; Jouer &lt;/option&gt;
              &lt;/select&gt;
            &lt;/form&gt;
          </pre>
        </div>
      </div>
    </div>

    <div id="input">
      <h6>Champ d'écriture</h6>
      <div>
        <p class="ms-2">Barre de recherche</p>
          <pre>
            <input class="mb-2"  type="text">
            &lt;input type="text"&gt;
          </pre>
        <p class="ms-2">Barre de recherche avec un titre</p>
          <pre>
            <label for="titre">le titre ici</label>
            <input class="mb-2"  type="text" id="titre">
            &lt;label for="titre"&gt;le titre ici&lt;/label&gt;
            &lt;input type="text" id="titre"&gt;
          </pre>
        <p class="ms-2">Recherche avec une valeur par defaut</p>
          <pre>
            <input class="mb-2"  type="text" value="defaut">
            &lt;input type="text" value="defaut"&gt;
          </pre>
        <p class="ms-2">Password</p>
          <pre>
            <input class="mb-2"  type="password" value="defaut">
            &lt;input type="password" value="defaut"&gt;
          </pre>
        <p class="ms-2">Number</p>
          <pre>
            <input class="mb-2"  type="number" value="15" step="1">
            &lt;input type="number" value="15"&gt;
          </pre>
        <p class="ms-2">Volume</p>
          <pre>
            <input class="mb-2"  type="range" min="0" max="100" step="1">
            &lt;input type="range" min="0" max="100" step="1"&gt;
          </pre>
        <p class="ms-2">Checkbox</p>
          <pre>
            <p class="mpre">coher ici: <input  type="checkbox"></p>
            &lt;input  type="checkbox"&gt;
            <p class="mpre pt-4">coher ici: <input  type="radio" ></p>
            &lt;input  type="radio" &gt;
          </pre>
        <p class="ms-2">choix d'une couleur</p>
          <pre>
            <p class="mpre">choisir une couleur ici: <input  type="color" ></p>
            &lt;input  type="color" &gt;
          </pre>
        <p class="ms-2">champ de commentaires</p>
          <pre>
            <textarea class="mb-2" cols="30" rows="10"></textarea>
            &lt;textarea cols="30" rows="10"&gt;&lt;/textarea&gt;
          </pre>
      </div>
    </div>


    <div id="imgV">
      <h6>images et vidéos</h6>
      <p class="ms-2">image</p>
      <div>
        <pre>
          &lt;img src="votreimage.ext" alt="description de ton image"&gt;
        </pre>
      </div>

      <p class="ms-2">video</p>
      <div>
        <pre>
          &lt;video src="votre video.ext" controls&gt;
            Video not supported
          &lt;/video&gt;
        </pre>
      </div>
    </div>

    <div id="table">
      <h6>Création de tableaux</h6>
      <div><pre> tableau ici !!</pre></div>
    </div>

  </div>


  <div class="fenE">
    <div class="mb-2">
      <h2 class="text-center"> exemples</h2>
    <figure role="img" aria-labelledby="legende-vache">
      <pre>
      _____________
    < Oh la vache !>
      -------------
             \   ^__^
              \  (oo)\_______
                 (__)\       )\/\
                     ||----w |
                     ||     ||
      </pre>
      <figcaption id="legende-vache">
        Une vache qui dit « Oh la vache ! ». La vache est illustrée avec du texte à chasse fixe.
      </figcaption>
    </figure>
    </div>

    <div class="mb-2">
      <h2 class="text-center"> exemples</h2>
    <figure role="img" aria-labelledby="legende-vache">
      <pre>
      _____________
    < Oh la vache !>
      -------------
             \   ^__^
              \  (oo)\_______
                 (__)\       )\/\
                     ||----w |
                     ||     ||
      </pre>
      <figcaption id="legende-vache">
        Une vache qui dit « Oh la vache ! ». La vache est illustrée avec du texte à chasse fixe.
      </figcaption>
    </figure>
    </div>
    <div class="mb-2"></div>
    <h2 class="text-center"> exemples</h2>
    <figure role="img" aria-labelledby="legende-vache">
      <pre>
      _____________
    < Oh la vache !>
      -------------
             \   ^__^
              \  (oo)\_______
                 (__)\       )\/\
                     ||----w |
                     ||     ||
      </pre>
      <figcaption id="legende-vache">
        Une vache qui dit « Oh la vache ! ». La vache est illustrée avec du texte à chasse fixe.
      </figcaption>
    </figure>
  </div>

</div>
